.all {
  height: 100%;
}

.heading {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  margin: 10px;
}

.subheading {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid red;
  margin: 20px;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  top: 25%;
}

.hideButton {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
